.header {
  position: fixed;
  top: 40px;              /* SAME as topbar height */
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  z-index: 2000;
}


.header-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 12px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}

.logo h2 {
     margin: 0;
     color: #2bb673;
}

.logo span {
    font-size: 12px;
    color: #777;
}

.search-box {
  flex: 1;
  display: flex;
  margin: 0 40px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #2bb673;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.search-box button {
  padding: 10px 20px;
  background: #2bb673;
  border: none;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.vendor-btn {
  background: #fff;
  border: 1px solid #2bb673;
  padding: 8px 14px;
  color: #2bb673;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
}

.header-actions a {
  text-decoration: none;
  color: #333;
  position: relative;
}

.badge {
  background: #2bb673;
  color: #fff;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 4px;
}

