.navbar {
    /* top: 0; */
    /* left: 0; */
  width: 100vw;
  background: #fff;
  border-bottom: 1px solid #eee;
  
}

.navbar-container {
    width: 100%;
    margin: auto;
  padding: 12px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.category-deals{
    justify-content: space-between;
    gap: 14px;
}

.category-deals a{
    text-decoration: none;
    color: black;

}

.category-btn {
  background: #2bb673;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 22px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* .nav-links select option{
    text-decoration: none;
} */

.nav-links a:hover {
  color: #2bb673;
}


