.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;           /* define height */
  background: #f8f8f8;
  border-bottom: 1px solid #eee;
  z-index: 3000;
}


.topbar-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 6px 20px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* LEFT */
.topbar-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* CENTER */
.topbar-center {
  text-align: center;
  color: #2bb673;
  font-weight: 500;
}

/* RIGHT */
.topbar-right {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

/* LINKS */
.topbar a {
  text-decoration: none;
  color: #333;
}

.topbar a:hover {
  color: #2bb673;
}

/* DROPDOWNS */
.topbar-right select {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 13px;
}
