
* {
  box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Calibri';
    height: 100vh;
    background: linear-gradient(rgb(255, 255, 255),rgb(202, 199, 199))
};

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

